/* waybar style.css */
@define-color bgcolor #282828; /* background color */
@define-color fgcolor #949494; /* foreground color */
@define-color charging #6f981a; /* battery charging color */
@define-color plugged #6f981a; /* ac plugged color */
@define-color critical #fb4934; /* critical color */
@define-color warning #d65d0e; /* warning color */
@define-color hover #393939; /* mouse hover over workspace color */

/* Reset all styles */
* {
  border: none;
  border-radius: 7px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background: transparent;
  font-family: JetBrainsMono;
  font-size: large;
  color: white;
}

#workspaces button {
  padding: 0px 10px;
  background: @bgcolor;
  color: white;
}

#workspaces button.focused {
  color: #ff8700;
}
#workspaces button:hover {
  background: @hover;
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
}

#custom-weather,
#cpu,
#temperature,
#memory,
#pulseaudio,
#disk,
#battery,
#clock,
#network,
#tray {
  background: @bgcolor;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#disk.critical {
  color: @critical;
}

#temperature.critical {
  color: @critical;
}

#cpu.critical {
  color: @critical;
}

#memory.critical {
  color: @critical;
}

@keyframes blink1 {
  to {
    color: @plugged;
  }
}

#battery.plugged {
  background-color: @charging;
}

#battery.charging {
  background-color: @charging;
}

@keyframes blink3 {
  to {
    background-color: @warning;
  }
}

#battery.warning:not(.charging) {
  /*  background-color: @bgcolor; */
  animation-name: blink3;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink4 {
  to {
    background-color: @critical;
  }
}

#battery.critical:not(.charging) {
  /* background-color: @bgcolor; */
  animation-name: blink4;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
